{% extends 'base.html' %}

{% block content %}
{% include 'navbar.html' %}
<section class="text-gray-600 body-font">
    <div class="container px-5 pb-24 mx-auto">
      <div class="flex justify-center">
        <h1 class="text-lg font-bold">My Tokens</h1>
      </div>
      <div class="flex flex-wrap">
        {% for token in tokens %}
        <div class="p-4 md:w-1/3">
            <div class="h-full border-2 border-gray-200 border-opacity-60 rounded-lg overflow-hidden">
              {% comment %} <img class="lg:h-48 md:h-36 w-full object-cover object-center" src="../../{{token.images}}" alt="blog"> {% endcomment %}
              <iframe class="lg:h-48 md:h-36 w-full object-cover object-center" src="https://google.com/maps?q={{token.lat}},{{token.lng}}&z=15&output=embed" loading="lazy" allowfullscreen alt="blog"></iframe>
              <div class="p-6">
                <h1 class="title-font text-lg font-medium text-gray-900 mb-3">{{ token.category }}</h1>
                <p class="leading-relaxed mb-3">{{ token.message }}.</p>
                <div class="flex items-center justify-between flex-wrap ">
                  <a href="{% url 'tokens:detail' token.id %}" class="text-green-500 inline-flex items-center md:mb-2 lg:mb-0">View Details
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
                      <path d="M5 12h14"></path>
                      <path d="M12 5l7 7-7 7"></path>
                    </svg>
                  </a>
                  <span class="text-gray-400 inline-flex items-center leading-none text-sm">
                    {{ token.raised_by }}
                  </span>
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
  
      </div>
    </div>

{% endblock content %}